<template>
  <div class="products">
  <h2>Products</h2>
  <b-card-group deck class="produts-list">
    <product v-for="product in products" :product="product" :key="product.id">

    </product>
  </b-card-group>
  </div>
</template>

<script>
import Product from './ProductCard'

export default {
  name: 'List',
  components: { Product },
  data () {
    return {
      products: [],
      newProduct: [],
      error: '',
      editedProduct: ''
    }
  },
  created () {
    this.$http.secured.get('/products')
      .then(response => { this.products = response.data })
      .catch(error => this.setError(error, 'Something went wrong'))
  },
  methods: {
    setError (error, text) {
      this.error = (error.response && error.response.data && error.response.data.error) || text
    },
    addProduct () {
      const value = this.newProduct && this.newProduct.trim()
      if (!value) {
        return
      }
      this.$http.secured.post('/products', { product: { title: this.newProduct } })
        .then(response => {
          this.products.push(response.data)
          this.newProduct = ''
        })
        .catch(error => this.setError(error, 'Cannot create product'))
    },
    removeProduct (product) {
      this.$http.secured.delete(`/products/${product.id}`)
        .then(response => {
          this.products.splice(this.products.indexOf(product), 1)
        })
        .catch(error => this.setError(error, 'Cannot delete product'))
    },
    editProduct (product) {
      this.editedProduct = product
    },
    updateProduct (product) {
      this.editedProduct = ''
      this.$http.secured.patch(`/products/${product.id}`, { product: { title: product.title } })
        .catch(error => this.setError(error, 'Cannot update product'))
    },
    signOut () {
      this.$http.secured.delete('/signin')
        .then(response => {
          delete localStorage.csrf
          delete localStorage.signedIn
          this.$router.replace('/')
        })
        .catch(error => this.setError(error, 'Cannot sign out'))
    }
  },
  directives: {
    'product-focus': function (el) {
      el.focus()
    }
  }
}
</script>

<style lang="css">
.products ul li i.fa.fa-trash-alt {
  visibility: hidden;
  margin-top: 5px;
}
.products ul li:hover {
  background: #fcfcfc;
}

.products ul li:hover i.fa.fa-trash-alt {
  visibility: visible;
}
</style>
