<template>
<b-card
    :title="product.title"
    img-src="https://picsum.photos/600/300/?image=25"
    img-alt="Image"
    img-top
    class="mb-2"
  >
    <b-card-text>
      {{ product.title }}
    </b-card-text>

    <b-button href="#" variant="primary">Add to Cart</b-button>
  </b-card>
</template>

<script >
export default {
  name: 'product',
  props: {
    product: Object
  }
}
</script>
